<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="/static/favicon.png" rel="shortcut icon" type="image/png"/>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<header>
    <img src="/static/logo.jpg" alt="Logo"/>
    <nav>
        <ul>
			{% with request.resolver_match.url_name as url_name %}
            <li><a href="{% url 'index' %}">About me</a></li>
            <li><a href="{% url 'resume' %}">Resume</a></li>
            <li><a href="{% url 'education' %}">Education</a></li>
            <li><a href="{% url 'contact' %}">Contact me!</a></li>
			{% endwith %}
        </ul>
    </nav>

</header>
<main>
    <h1>{% block header %}{% endblock %}</h1>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        <p><a href="mailto:sushei.ekaterina@gmail.com">E-mail</a></p>
        <p><a href="https://t.me/ksradau">Telegram</a></p>
        <p><a href="https://vk.com/ksradau">VK</a></p>
		<p>(c) Ekaterina Sushko 2020</p>
    </footer>
</body>
</html>