{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'favicon.png' %}" rel="shortcut icon" type="image/png"/>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<div class="marg">
<header>
    <img src="{% static 'logo.jpg' %}" alt="Logo" width="100px"/>
    <nav>
			{% with request.resolver_match.url_name as url_name %}
            <a class="nes-btn is-primary" href="{% url 'index' %}">About me</a>
            <a class="nes-btn" href="{% url 'resume' %}">Resume</a>
            <a class="nes-btn" href="{% url 'education' %}">Education</a>
            <a class="nes-btn" href="{% url 'contact' %}">Contact me!</a>
			{% endwith %}
    </nav>
</header>
    </div>
<main>
    <h1>{% block header %}{% endblock %}</h1>

        {% block main %}{% endblock %}
    </main>

    <footer>
        <p><a href="mailto:sushei.ekaterina@gmail.com">E-mail</a></p>
        <p><a href="https://t.me/ksradau">Telegram</a></p>
        <p><a href="https://vk.com/ksradau">VK</a></p>
		<p>(c) Ekaterina Sushko 2020</p>
    </footer>
</body>
</html>