{% extends "base.html" %}
{% load static %}

{% block title %}Ekaterina Sushko Education{% endblock %}

{% block header %}Education{% endblock %}

{% block main %}

            <h1>Education</h1>
                <h2>Belarusian State University of Informatics and Radioelectronics</h2>
                <h3>Economist-Programmer</h3>
                <p>September 2014 - July 2018</p>
    <p>
        Higher education (2014-2018), BSUIR, specialty "Economics of electronic business"
    </p>
{% endblock %}