{% extends "base.html" %}
{% load static %}

{% block title %}Ekaterina Sushko Personal Resume Website{% endblock %}

{% block header %}Ekaterina Sushko{% endblock %}

{% block main %}
    <figure><img src="static/J1HxsPhMYG0_2.jpg" alt="Main Photo"/></figure>

    <h2>Junior Python Developer</h2>
    <article>
        I'm a Junior Web Developer with 3 years of experience in Search Engine Optimization based in Minsk.
    </article>
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fermentum, turpis eu faucibus luctus, ante enim ullamcorper elit, eu lobortis erat nibh non mi. Sed pretium eros vitae ex tincidunt, quis egestas leo aliquam. Vivamus eros urna, ullamcorper sed dignissim vitae, condimentum eu dui. Cras a enim ipsum. Nulla gravida erat nisl, eget ornare felis porta vitae. Morbi varius eget neque sit amet tincidunt. Praesent euismod neque a arcu lobortis ornare. Etiam pharetra, risus a gravida finibus, orci erat ullamcorper dolor, ac gravida tellus purus sit amet lorem. Proin eu ligula dolor. Duis molestie, eros ac tincidunt congue, lorem arcu cursus eros, in sagittis libero risus nec urna. In elementum mauris a nibh blandit, bibendum sodales sem sagittis. </p>

    </section>

	<article>
        <h3>Technical Skills</h3>
  <img src="static/rose.png" alt="Rose"/>
    </article>

		<article>
        <h3>About me</h3>
   <p>Calmness, ability to listen and hear. The ability to find an approach to any task and
                                work in conditions of tough deadlines. Accuracy, responsibility. Non-conflict.</p>
    </article>

{% endblock %}