{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ h1 }}{% endblock %}

{% block main %}

{{ information }}
<form>


    <input type="text" class="nes-input" placeholder="">
    <label>Name</label>


    <input type="text" class="nes-input is-warning" placeholder="">
    <label>E-mail</label>

    <textarea id="textarea_field" class="nes-textarea" placeholder="...Text something!"></textarea>
    <button class="nes-btn is-primary">Send</button>
</form>

{% endblock %}