{% extends "base.html" %}
{% load static %}

{% block title %}Ekaterina Sushko Personal and Contact Info{% endblock %}

{% block header %}Personal and Contact Info{% endblock %}

{% block main %}

<ul>
    <li>E-mail: sushei.ekaterina@gmail.com</li>
    <li>+375295929441</li>
    <li>Minsk, Belarus<br/><br/></li>
</ul>
<form>


    <input type="text" class="nes-input" placeholder="">
    <label>Name</label>


    <input type="text" class="nes-input is-warning" placeholder="">
    <label>E-mail</label>

    <textarea id="textarea_field" class="nes-textarea" placeholder="...Text something!"></textarea>
    <button class="nes-btn is-primary">Send</button>
</form>

{% endblock %}