nav { float:right;}
nav a { display:inline; padding: 0 20px;}
/* Sections ========================================================================== */
/** Remove the margin in all browsers (opinionated). */
body {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

/** Add the correct display in IE 9-. */
article,
aside,
footer,
section {
  display: inline;
}

footer p {display: inline; padding: 0 20px;}
nav {margin-top: 13px;}

header {
    display: inline;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    border-bottom: 4px solid #D3D3D3;
    background-color: white;
}

.marg {margin-bottom: 150px;}

img {margin-right: 20px; margin-bottom: 20px;}