{% extends "base.html" %}

<!--



{{ information | safe }}
-->
{% block title %}Title Blog{% endblock %}
{% block header %}Blog{% endblock %}
{% block main %}
{% for post in object_list %}

    <a href="{{ post.get_absolute_url() }}"> <h1>{{ post.title }}</h1></a>
{% endfor %}


<form>


    <input type="text" class="nes-input" placeholder="">
    <label>Name</label>


    <input type="text" class="nes-input is-warning" placeholder="">
    <label>E-mail</label>

    <textarea id="textarea_field" class="nes-textarea" placeholder="...Text something!"></textarea>
    <button class="nes-btn is-primary">Send</button>
</form>


{% endblock %}