{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ h1 }}{% endblock %}

{% block main %}
<h3>Search Engine Optimizator</h3>
<h4>2017 - Present</h4>

<div class="nes-container is-dark is-rounded">
    {{ preview | safe }}
</div>
<p class="nes-text is-primary">
{{ article | safe }}
</p>
<p>
    {{ text | safe }}
</p>

{% for project in object_list%}
<p>From {{ project.started_at }} till {{ project.finished_at }}</p>
<p>Description {{ project.summary }}</p>

{% if project.responsibilities.count%}
<p>Responsibility</p>
{% for resp in project.responsibilities.all%}
    <li>{{ resp.summary }}</li>
{% endfor %}
{% endif %}

<p>Technologies</p>
<ul>
    {% for technology in project.technologies.all%}
    <li>{{ technology.name }}</li>
    {% endfor %}
</ul>
{% endfor %}


{% endblock %}